* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #8F9E72;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.homeSection {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeSectionTitles {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;

}

.homeSectionTitles h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.homeSectionTitles img {
    height: 50%;
}

.homeSectionTitles .homeTextContainer {

    display: flex;
    justify-content: center;
    align-items: center;
}


.homeSectionTitles p {
    padding-top: 10%;
    width: 85%;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;

}

.enterLink {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.enterBtn {
    width: 40%;
    height: 60%;
    border: none;
    background-color: #8F9E72;
    text-transform: uppercase;
    font-size: 1.2rem;

}

.enterBtn a {
    text-decoration: none;
    color: #FAF9F4;
    background-color: none;
    background-color: #8F9E72;
}

/* SEGUNDA PAGINA */
.sectionOne {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F4;
}

.sectionOnePicture {
    width: 100%;
    height: 60%;
}

.sectionOnePicture img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.sectionOneCounter {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;

}

.sectionOneCounter h2 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-transform: uppercase;

}

.countdownContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneCounter #countdown {
    display: flex;
    overflow: hidden;
    width: 95%;
    font-size: 2em;
    font-weight: bold;
}

#countdown p {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.counter-number {
    text-align: center;
}

.counter-word {
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
}

.sectionTwo {
    height: 100vh;
    width: 100%;
    background-color: #8F9E72;
    padding-top: 4%;
}

.sectionTwo .sectionTwoText {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;
}

.sectionTwo .sectionTwoText h2 {
    color: #FAF9F4;
    text-transform: uppercase;
    background-color: #8F9E72;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    border-top: solid 1px #FAF9F4;
    border-bottom: solid 1px #FAF9F4;
    word-spacing: .2rem;
}


.sectionTwo .sectionTwoImg {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTwo .sectionTwoImg img {
    width: 90%;
    height: 80%;
    border-radius: 14px;
    object-fit: fill;
}

.reveal {
    opacity: 0;
    transform: translateY(25px);
    transition:
        opacity 1.4s ease,
        transform 1.4s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}


.reveal[data-anim="fade-up"] {
    transform: translateY(25px);
}

.sectionThree {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    background-color: #FAF9F4;
}

.when-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.when-info img,
.where-info img {
    width: 15%;
    margin-bottom: 4%;
}

.when-info .text {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3%;
}

.when-info .date {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10%;
}

.where-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.where-info .text {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3%;
}

.where-info .where1 {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4%;
}

.where-info .adress1 {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4%;

}

.where-info .where2 {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4%;

}

.where-info .adress2 {
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4%;

}

.mapBtn {
    text-decoration: none;
    margin-bottom: 6%;
    text-transform: uppercase;
    background-color: #8F9E72;
    color: #FAF9F4;
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFour {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F4;
}

.sectionFour h2 {
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleContainer {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.scheduleContainer .schedule {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #8F9E72 solid 1px;
}

.scheduleContainer .schedule img {
    margin-bottom: 4%;
}

.scheduleContainer .schedule .text {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.scheduleContainer .schedule .time {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}

.sectionFive {
    height: 100vh;
    width: 100%;
    background-color: #8F9E72;
}

.sectionFive .sectionFiveText {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;
}

.sectionFive .sectionFiveText h2 {
    color: #FAF9F4;
    text-transform: uppercase;
    background-color: #8F9E72;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    border-top: solid 1px #FAF9F4;
    border-bottom: solid 1px #FAF9F4;
    line-height: 1.3;
    word-spacing: .2rem;

}

.sectionFive .sectionFiveImg {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFive .sectionFiveImg img {
    width: 90%;
    height: 90%;
    object-fit: fill;
    border-radius: 14px;
}

.sectionSix {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #FAF9F4;
}

.sectionSix .present {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSix .present img {
    margin-bottom: 4%;
}


.sectionSix .present h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.sectionSix .present p {
    text-align: center;
    font-size: 1.3rem;
    width: 90%;
}

.sectionSix .accounts {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSix .accounts h2 {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.sectionSix .accounts p {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.sectionSix .dressCode {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSix .dressCode img {
    margin-bottom: 4%;
}

.sectionSix .dressCode .title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.sectionSix .dressCode .text {
    font-size: 1.4rem;
    margin-bottom: 4%;
}

.sectionSix .dressCode button {
    width: 30%;
    height: 20%;
    background-color: #8F9E72;
    color: #FAF9F4;
    border: none;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    background-color: white;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.modal-content p {
    background-color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.sectionSeven {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F4;
    border: none;
}

.sectionSeven .noBabies {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;
    margin-bottom: 10%;
}

.sectionSeven .noBabies img {
    width: 14%;
    margin-bottom: 2%;
}

.sectionSeven .noBabies .title {
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4%;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #8F9E72;
    color: #FAF9F4;
}

.sectionSeven .noBabies .text {
    width: 90%;
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #8F9E72;
    color: #FAF9F4;
}

.sectionSeven .sharedPhotos {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSeven .sharedPhotos img {
    width: 14%;
    margin-bottom: 2%;
}

.sectionSeven .sharedPhotos .title {
    width: 90%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.sectionSeven .sharedPhotos .text {
    width: 90%;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.sectionSeven .sharedPhotos .photoBtn {
    text-decoration: none;
    background-color: #8F9E72;
    color: #FAF9F4;
    width: 35%;
    height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionSeven .confirmation {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F4;
}

.sectionSeven .confirmation img {
    width: 10%;
    margin-bottom: 2%;
}

.sectionSeven .confirmation .text {
    width: 90%;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 4%;
    color: #8F9E72;
    background-color: #FAF9F4;
}

.sectionSeven .confirmation a {
    text-decoration: none;
    width: 65%;
    height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;
    color: #FAF9F4;
    border: solid 1px #FAF9F4;
}


.sectionEight {
    height: 100vh;
    width: 100%;
    background-color: #8F9E72;
}

.sectionEight .sectionEightText {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;

}

.sectionEight .sectionEightText h2 {
    color: #FAF9F4;
    text-transform: uppercase;
    background-color: #8F9E72;
    width: 80%;
    line-height: 1.5;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    border-top: solid 1px #FAF9F4;
    border-bottom: solid 1px #FAF9F4;
    word-spacing: .2rem;
}

.sectionEight .sectionEightImg {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F9E72;
    padding-top: 3%;
}

.sectionEight .sectionEightImg img {
    width: 90%;
    height: 100%;
    border-radius: 14px;
    object-fit: fill;
}

.reveal-center {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
    transition:
        clip-path 1.6s ease-out,
        opacity 1.2s ease;
}

.reveal-center.visible {
    opacity: 1;
    clip-path: circle(75% at 50% 50%);
}

.sectionNine {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F4;
}

.sectionNine h2 {
    font-size: 2rem;
    text-transform: uppercase;
}